<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Bot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Gym Bot</h1>
        <div id="chatbox">
            <p class="bot-message">Hello! I'm Gymbot. How can I assist you today?</p>
        </div>
        <div class="input-box">
            <input type="text" id="userInput" placeholder="Type your message..." autocomplete="off">
            <button onclick="sendMessage()">Send</button>
        </div>
        <!-- <p class="user-info">User: <span id="userId">rounak579</span></p> -->
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
